h2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
form{
    padding-left: 70px;
    padding-bottom: 60px;
}

k{
  padding-left: 70px;
  padding-bottom: 60px;

}
p {
  padding-left: 70px;
  padding-bottom : 60px;
  padding-top: 10px;
  line-height: 3;
  width: calc(100%/4);
}
label{
   padding-left: 30px;
   padding-right: 30px; 
}
a {
    padding-left: 70px;
    padding-bottom : 60px;
    padding-top: 10px;
    line-height: 5;
    width: calc(100%/4);
  }
b{
    padding-top: 30px;
    padding-left: 20px;
}